{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/base.js' %}"></script>

    <title>{% block title %} {{title}} | Foodee{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success" style="margin-bottom:24px;">
      <a class="navbar-brand" href="{% url 'home' %}">Foodee</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          {% if user.profile.avatar %}
          <li class="nav_item">
              <img src="/{{user.profile.avatar}}" style="float: left; border-radius: 100%; width: 50px; height: 50px;" />
          </li>
          {% endif %}
          <li class="nav-item">
              <div class="dropdown">
                  <div class="dropbtn"><a class="nav-link" href="#">
                    {% if user.first_name %}
                      {{user.first_name}}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </a></div>
                  <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/my_orders">My Orders</a>
                    <a href="/accounts/logout/?next={{request.path}}">Logout</a>
                  </div>
                </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup/">Signup</a>
          </li>
          {% endif %}
        </ul>
        <form action="/search" class="form-inline my-2 my-lg-0 text-align-center">
          <input class="form-control mr-sm-2" name="keyword" placeholder="Search" type="text">
          <input type="submit" class="btn btn-danger my-2 my-sm-0" value="Search" />
        </form>
      </div>
    </nav>
    
    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
