{% extends 'base.html' %}
{% load static %}
{% load orders_tags %}

{% block content %}

<div id="cart">
{% if not cart %}

    <div class="alert alert-info"><h3>Cart is empty!</h3></div>

{% else %}
<style>
    input.remove{
        margin: 10px;
    }
    input[type='button']{
        font-size: 16px;
        border-radius: 10px;
        height: 45px;
        line-height: 20px;
        padding: 5px;
        cursor: pointer;
    }
    input.remove{
        background: #e62929;
        color: white;
        border: 1px solid #ff7474;
        height: 45px;
        width: 80px;
    }
    input[type='button'].remove:hover{
        background: #e95e5e;
    }
    input[type='number']{
        color: #181717;
        border: 1px solid #29a1e6;
        border-radius: 10px;
        font-size: 20px;
        height: 45px;
        width: 80px;
        line-height: 40px;
        padding: 5px;
    }
    input[type=number]::-webkit-inner-spin-button {
        opacity: 1;
        cursor: pointer;
      }
    .item{
        height: 300px;
        text-align: center;
    }
    .row img{
        width: 80%;
    }
</style>
    <h2 style="text-align: center; color: #555;">CART</h2>
    <br>
    <div class="container">
    {% for item in cart %}
    <div class="row item">
        <div class="col">
        <img src='/{{ item.pic }}'/>
        </div>
        <div class="col">
        <h3>{{ item.name }}</h3>
        <h4>&#8377;{{item.price}} x {{ item.quantity }} =  &#8377;{% multiply item.price item.quantity %}</h4>
        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10" onchange="changeQuantity({{item.id}}, this);">

        <input type="button" class="remove" value="Remove" onclick="removeFromCart(this, {{item.id}});" >
        </div>
    </div>
    {% endfor %}
    {% if profile.premium %}
        <h5>Only for premium users, 10% discount upto &#8377;100</h5>
        <div class="row"><div class="col"><h3>Grand Total :  &#8377;{% total_for_premium cart %}</h3></div></div>
    {% else %}
        <div class="row"><div class="col"><h3>Grand Total :  &#8377;{% total cart %}</h3></div></div>
    {% endif %}
    <div class="row" ><div class="col" style="text-align: center">
            <input class="btn" type="button" value="Place Order" onclick = "orderNow();">
    </div></div>
    </div>
{% endif %}
</div>

{%  endblock %}
