{% if dish %}
<div class="dish_item">
        <a href='/dish/{{dish.id}}'><img src="/{{dish.pic}}" alt="{{dish.name}}"></a>
        <br/><br/>
        <div class='heart {% if dish in profile.favs.all %}fav{% endif %} ' {% if profile %} onclick="toggleFav(this, {{ dish.id }})" {% endif %}></div>
        <div class='{% if dish in cart %}incart{% else %}cart{% endif %}' {% if profile %} {% if dish not in cart or not cart %}onclick="addToCart(this, {{ dish.id }})"{%endif%} {% endif %}></div>
        <h2>{{ dish.name }}</h2>
        {{ dish.description }}
        <br/>Rs. {{dish.price }}
</div>
{% endif %}