{% extends "base.html" %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

<div  id="profile">
<div class="profile_pic">
    <img src='/{{user.profile.avatar}}' />
</div>
    <ul>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Phone: {{user.profile.phone}}</li>
        <li>Address: {{user.profile.address}}{% if not user.profile.address %}Not Specified{% endif %}</li>
    </ul>
</div>

{% if favs %}
      <div id="fav_list">
            <h2>Your favorites</h2>
            {% for dish in favs %}
            <div class="fav_item">
                  {% include "dish_item.html" %}
            </div>
            {% endfor %}
      </div>
{% else %}
      <p>You have no dishes in favorites</p>
{% endif %}

{% endblock %}